[profile.default]
src = "contracts"
out = "out"
libs = ["lib"]
solc = "0.8.24"
evm_version = "istanbul"
optimizer = true
optimizer_runs = 200

[rpc_endpoints]
skale_sandbox = "https://base-sepolia-testnet.skalenodes.com/v1/bite-v2-sandbox"
