[profile.default]
src = "contracts"
out = "out"
libs = ["lib"]
solc = "0.8.24"
evm_version = "shanghai"
optimizer = true
optimizer_runs = 200

[rpc_endpoints]
skale_base = "https://base-sepolia-testnet.skalenodes.com/v1/jubilant-horrible-ancha"
