[profile.default]
src = "contracts"
out = "out"
libs = ["lib"]
solc = "0.8.24"
evm_version = "paris"
optimizer = true
optimizer_runs = 200

[rpc_endpoints]
skale_europa = "https://mainnet.skalenodes.com/v1/elated-tan-skat"
